          </section>
        </div>
      </div>
    </main>
    <footer class="mf-footer">
      <div class="mf-container">
        <p>&copy; 2026 Simple. 项目所有内容均来自互联网采集，不提供存储/录制/上传服务。</p>
        <div class="mf-footer-links">
          <a href="#">免责声明</a>
          <a href="#">关于我们</a>
          <a href="#">联系合作</a>
          <a href="#">求片/报错</a>
        </div>
      </div>
    </footer>
  </body>
</html>
